
.footer {
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: row-reverse;
    color: snow;
}
.footer-left, .footer-right{
    margin: 2% 10% 2% 5%;
    width: 50%;
}
.footer-right {
    padding-top: 2px;
}
.footer-ul {
    list-style: none;
}
.footer-list-div {
    display: flex;
    flex-direction: row;
}
.footer-list-p{
    margin-left: 20px;
    margin-top: 5px;
    font-size: 18px;
}
.icon-text{
    padding-top: 20px;
}
.footer a{
    color: snow;
    text-decoration: none;
}

/* copyright */
.footer-bottom {
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: default;
    background-color: rgba(0, 0, 0, 0.8);
    color: snow;
}
.footer-bottom p {
    padding: 5px 0;
}

@media (max-width:720px) {
    .footer-right {
        display: none;
    }
    .footer-left {
        margin: auto;
        padding: 20px 0;
    }
}
